<template>
  <h1>The Progressive JavaScript Framework</h1>
  <hr/>
  <p>{{ msg.toUpperCase() }}</p>
  {{ buttonHTMl }}
  <span v-html="buttonHTMl"></span>
  <p v-bind:style="color">TesT</p>
  <a :href="web">Google</a>
  {{ num1 }}
  <h2 :style="`color: ${'blueviolet'}`">${{ savings }}</h2>
  <h2 :style="`color:${price >= 200 ? 'green' : 'red'}`">${{ price }}</h2>
  <h2 v-bind:class="total >= 650 ? 'bottom' :'background' ">${{ total }}</h2>
</template>

<style>
  .bottom{
    color: red;
  }
.background{
  color: green;
}
  
</style>

<script>
const msg = "Hello"
const buttonHTMl = "<button>Click me</button>"
const color = "color: blue;background-color: lightblue"
const web = "https://www.google.com"
const num1 = 2*5
const savings = 350
const price = 150
const total = 500
export default {
    name: "App",
    data(){
      return{
        total,
        num1,
        msg,
        buttonHTMl,
        color,
        web,
        savings,
        price,
      }
    }
  };
</script>

<style>
  h1{
    color: cyan;
  }
</style>